Sessions/Intermediate/Sessions/Session-015_InvocableMethods_03/flow/Get_Country_Details_English.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Country_Details_Action</name>
        <label>Get Country Details Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetCountriesDetailsAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TransformedCountries</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstCountryNames</name>
            <value>
                <elementReference>lstCountryNames</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetCountriesDetailsAction</nameSegment>
        <outputParameters>
            <assignToReference>lstCountryDetails</assignToReference>
            <name>details</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>addCountryName</name>
        <label>addCountryName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lstCountryNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Country_Names.Country_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Country_Names</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Country Details English {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Country Details English</label>
    <loops>
        <name>Loop_Country_Names</name>
        <label>Loop Country Names</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>countryRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addCountryName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Country_Details_Action</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Country_Details_Display</name>
        <label>Country Details Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Country_Details</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Country__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Country Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>TransformedCountries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c441&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Country Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Capital__c&quot;,&quot;guid&quot;:&quot;column-124e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Capital&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FlagURL__c&quot;,&quot;guid&quot;:&quot;column-b03b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Flag URL&quot;,&quot;type&quot;:&quot;url&quot;},{&quot;apiName&quot;:&quot;MapURL__c&quot;,&quot;guid&quot;:&quot;column-ae9f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Map URL&quot;,&quot;type&quot;:&quot;url&quot;},{&quot;apiName&quot;:&quot;Region__c&quot;,&quot;guid&quot;:&quot;column-698a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Region&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Country_Entry_Screen</name>
        <label>Country Entry Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Country_Names</targetReference>
        </connector>
        <fields>
            <name>countryRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Country_Name</name>
                <dataType>String</dataType>
                <fieldText>Country Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country_Entry_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>TransformedCountries</name>
        <label>TransformedCountries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country_Details_Display</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Country__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Capital__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>lstCountryDetails[$EachItem].capital</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>lstCountryDetails[$EachItem].countryName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>FlagURL__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>lstCountryDetails[$EachItem].flagUrl</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>MapURL__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>lstCountryDetails[$EachItem].mapUrl</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Region__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>lstCountryDetails[$EachItem].region</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>lstCountryDetails</name>
        <apexClass>SimplifiedCountryWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstCountryNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
